<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Pretty Things</h1>
    <p>Where people write about beautiful things that inspire them</p>
    <button type="button" class="new_post_button"><a href="/new">Create New Post</a></button>
    <div class="post_parent col-sm-6 col-md-4">
      <p>Here are some posts</p>

        <%#creates an array of file paths for the posts using the method Dir
        and  will print the file path of each post in a bulletted list%>
        <% blogs_arr = Dir["public/blog_posts/*.html"] %>
        <% blogs_arr.each do |f| %>
            <%#need to link all of these posts!!%>
            <div class="post_squares"><%=f%></div>
        <% end %>
    </div>
  </body>
</html>
