<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Pretty Things</h1>
    <button type="button" class="new_post_button"><a href="/new">Create New Post</a></button>
    <div class="posts">
      <p>Here are some posts </p>

    </div>
  </body>
</html>
