<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Pretty Things</h1>
    <button type="button" class="new_post_button"><a href="/new">Create New Post</a></button>
    <div class="posts">
      <p>Here are some posts </p>

      <%#create a unordered list%>
      <ul class="unordered-list">
        <%#creates an array of paths for the posts using Dir
        and  will print the path of each post in a bulletted list%>
        <% Dir["public/blog_posts/*.html"].each do |file| %>
          <li><%= file %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
