<!-- layout for all html pages -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

    <%= yield %>

  </body>
</html>
