<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new post</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Create New Post</h1>
    <!--add insert picture area later-->
    <div class="boxes">
      <textarea class="titlebox" placeholder="Write title of your post here..."></textarea>
      <textarea class='wordbox' placeholder="Start writing here..."></textarea>
      <input class="submit" type="submit" value="Submit">
    </div>
  </body>
</html>
