<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new post</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Create New Post</h1>
    <!--add insert picture area later-->
    <div class="boxes">
      <form class="post" action="/" method="post">
        <input class="titlebox" placeholder="Write title of your post here..." name="title" type="text">
        <input class='wordbox' placeholder="Start writing here..." name="body" type="text">
        <input id="Submit" type="Submit" value="Submit">
      </form>
    </div>
  </body>
</html>
