body {
  border: 50px solid yellow;
}

h1 {
  font-family: cursive;
  margin-top: 50px;
  text-align: center;
  border-bottom: 2px solid black;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;

}

.unordered-list {
  border: 1px solid green;
}

/* new_post page */
